{% extends 'layout.html.twig' %}


{% set page_title = 'Llista de satèl·lits' %}



{% block body %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Planeta</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Accions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for satelit in satelits %}
            <tr>
                <td>{{ satelit.id }}</td>
                <td><a href="{{ path('satelit_show', { 'id': satelit.id }) }}">{{ satelit.nom }}</a></td>
                <td><a href="{{ path('planeta_show', { 'id': satelit.idPlaneta.id }) }}">{{ satelit.idPlaneta.nom }}</a></td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('satelit_show', { 'id': satelit.id }) }}">Mostrar</a>
                        </li>
                        <li>
                            <a href="{{ path('satelit_edit', { 'id': satelit.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="button-group">
        {% if is_granted('ROLE_USER') %}
            <a class="btn btn-success" href="{{ path('satelit_new') }}">Crea un nou satèl·lit</a>
        {% endif %}
    </div>
{% endblock %}
