{% extends 'layout.html.twig' %}


{% set page_title = 'Satèl·lit #' ~ satelit.id ~ ': ' ~ satelit.nom %}


{% block body %}
    <div class="well">

        <p class="text-center">El satèl·lit {{ satelit.nom }} pertany al planeta <a href="{{ path('planeta_show', {'id': satelit.idPlaneta.id}) }}">{{satelit.idPlaneta.nom}}</a>.</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-block btn-info" href="{{ path('satelit_index') }}">Tornar a la llista</a>
        </div>
        <div class="col-md-4">
            {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-block btn-warning" href="{{ path('satelit_edit', { 'id': satelit.id }) }}">Editar</a>
            {% endif %}
        </div>
        

        {% if is_granted('ROLE_ADMIN') %}
            <div class="col-md-4">
                {{ form_start(delete_form) }}
                    <input class="btn btn-block btn-danger" type="submit" value="Eliminar">
                {{ form_end(delete_form) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
