{% extends 'layout.html.twig' %}



{% block title %}Satèl·lit: {{ satelit.nom }}{% endblock %}




{% block body %}
    <div class="well">
        <h1 class="page-header text-center">Satelit #{{ satelit.id }}: {{satelit.nom}}</h1>

        <p class="text-center">El satèl·lit {{ satelit.nom }} pertany al planeta <a href="{{ path('planeta_show', {'id': satelit.idPlaneta.id}) }}">{{satelit.idPlaneta.nom}}</a>.</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-block btn-info" href="{{ path('satelit_index') }}">Tornar a la llista</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-block btn-warning" href="{{ path('satelit_edit', { 'id': satelit.id }) }}">Editar</a>
        </div>
        <div class="col-md-4">
            {{ form_start(delete_form) }}
                <input class="btn btn-block btn-danger" type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
