<html lang={% block language %}CA-ca{% endblock %}>
    <head>
        <meta charset="UTF-8"/>
        <title>
            Sistema Solar
            {% block title %}
                {% if page_title is defined %}
                    - {{page_title}}
                    {% else %}
                {% endif %}
            {% endblock %}
        </title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        {% block stylesheets %}

            <link rel="stylesheet" type="text/css" href="{{asset("css/style-main.css")}}"/>
            <style>

            </style>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <h1 class="navbar-text navbar-left">Sistema <small>Solar</small></h1>
                </div>
                <ul class="nav navbar-nav mr-auto navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('planeta_index')}}"><span class="glyphicon glyphicon-globe"></span> Planetes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('satelit_index')}}"><span class="glyphicon glyphicon-asterisk"></span> Satèl·lits</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            {%if app.user%}
                                <span class="glyphicon glyphicon-user"></span>
                            {%endif%}
                            Usuari
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% if app.user %}
                                <li><span class="glyphicon glyphicon-user">{{app.user.username | capitalize}}</li>
                                <li><a href="{{ logout_path()}}"><span class="glyphicon glyphicon-log-out"></span> Tanca sessió</a></li>
                            
                            {% else %}
                                <li><a href="{{ path('login')}}" id="menu-login"><span class="glyphicon glyphicon-log-in"></span> Inicia sessió</a></li>
                                <li><a href="{{ path('register') }}" id="menu-register"><span class="glyphicon glyphicon-list-alt"></span> Registrar-se</a></li>
                            
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        {% if not app.user %}
            {# 
            Si un usuari és loguejat, aquest bloc no es carrega.
            És la "finestra emergent" que conté el formulari d'iniciar sessió
            #}
            <div class="emergent" id="login-form">
                <!-- Formulario de login -->
            </div>
        {% endif %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('notice') %}
            <div class="alert alert-info">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}


        {% if errors is defined %}
            {% for error in errors %}
                <div class="alert alert-danger">
                    {{error.message}}
                </div>
            {% endfor %}
        {% endif %}


        <div class="container" id="main-container">
            {% if page_title is defined %}
                <h1 class="page-header text-center">{{page_title | default('Títol de la pàgina')}}</h1>
            {% endif %}

            {% block body %}
                Aquí va el contingut de la pàgina
            {% endblock %}
        </div>
            <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            <script src="{{ asset('js/script.js') }}"></script>
        {% block javascript %}
            
        {% endblock %}

    </body>
</html>
