{% extends 'layout.html.twig' %}


{% block title %}Editar planeta: {{ planeta.nom }}{% endblock %}


{% block body %}
    <div class="well">
        <h1 class="page-header text-center">Editar planeta: {{ planeta.nom }}</h1>

        {{ form_start(edit_form) }}
        <div class="form-group">
            {{ form_widget(edit_form) }}
        </div>
        {{ form_end(edit_form) }}
    </div>

    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-block btn-info" href="{{ path('planeta_index') }}">Tornar a la llista</a>
        </div>
        <div class="col-md-6">
            {{ form_start(delete_form) }}
            <input class="btn btn-block btn-danger" type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
