{% extends 'layout.html.twig' %}

{% set page_title = 'Llista de planetes' %}

{% block body %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Distància</th>
                <th>Període</th>
                <th>Diàmetre</th>
                <th>Situació</th>
                <th>Tipus</th>
                <th>Superfície</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Accions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for planetum in planetas %}
            <tr>
                <td>{{ planetum.id }}</td>
                <td><a href="{{ path('planeta_show', { 'id': planetum.id }) }}">{{ planetum.nom }}</a></td>
                <td>{{ planetum.distancia }}</td>
                <td>{{ planetum.periode }}</td>
                <td>{{ planetum.diametre }}</td>
                <td>{{ planetum.situacio }}</td>
                <td>{{ planetum.tipus }}</td>
                <td>{{ planetum.superficie }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('planeta_show', { 'id': planetum.id }) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
                        </li>
                        <li>
                            <a href="{{ path('planeta_edit', { 'id': planetum.id }) }}"><span class="glyphicon glyphicon-edit"></span></a>
                        </li>
                    </ul>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="button-group">
        {% if is_granted('ROLE_USER') %}
            <a class="btn btn-success" href="{{ path('planeta_new') }}">Crea un nou planeta</a>
        {% endif %}
    </div>
{% endblock %}
