{% extends 'form-template.html.twig' %}

{% set page_title = 'Insertar nou planeta' %}
{% set entity = 'planeta' %}

{% block form %}
    
        <div class="form-group">
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom) }}
        </div>
        <div class="form-group">
            {{ form_label(form.distancia) }}
            {{ form_widget(form.distancia) }}
        </div>
        <div class="form-group">
            {{ form_label(form.periode) }}
            {{ form_widget(form.periode) }}
        </div>
        <div class="form-group">
            {{ form_label(form.diametre) }}
            {{ form_widget(form.diametre) }}
        </div>
        <div class="form-group">
            {{ form_label(form.situacio) }}
            {{ form_widget(form.situacio) }}
        </div>
        <div class="form-group">
            {{ form_label(form.tipus) }}
            {{ form_widget(form.tipus) }}
        </div>
        {{ form_row(form._token) }}

{% endblock %}
