{% extends 'layout.html.twig' %}

{% set page_title = 'Planeta #' ~ planeta.id ~ ': ' ~ planeta.nom %}

{% block body %}
    <div class="row">
        <div class="well">

            <dl class="dl-horizontal text-center">
                <dt>Distància</dt>
                <dd>{{ planeta.distancia }} UA</dd>
                <dt>Període</dt>
                <dd>{{ planeta.periode }} Cicle(s)</dd>
                <dt>Diàmetre</dt>
                <dd>{{ planeta.diametre }} </dd>
                <dt>Situació</dt>
                <dd>{{ planeta.situacio }}</dd>
                <dt>Tipus</dt>
                <dd>{{ planeta.tipus }}</dd>
                <dt>Superfície</dt>
                <dd>{{ planeta.superficie }} M km<sup>2</sup></dd>
                <dt>Satèl·lits</dt>
                {% for satelit in satelits %}{#TODO: los satélites deben ser obtenibles mediante la entidad#}
                    <dd><a href="{{ path('satelit_show', {'id': satelit.id}) }}">{{ satelit.nom }}</dd>
                {% else %}
                    <dd>Aquest planeta no té cap satèl·lit associat</dd>
                {% endfor %}
            </dl>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-block btn-info" href="{{ path('planeta_index') }}">Tornar a la llista</a>
        </div>
        <div class="col-md-4">
            {% if is_granted('ROLE_ADMIN') %}


                <a class="btn btn-block btn-warning" href="{{ path('planeta_edit', { 'id': planeta.id }) }}">Editar</a>
            {% endif %}
        </div>
        <div class="col-md-4">

            {% if is_granted('ROLE_ADMIN') %}
                {% if delete_form is defined %}
                    {{ form_start(delete_form) }}
                    <input class="btn btn-block btn-danger" type="submit" value="Eliminar">
                    {{ form_end(delete_form) }}
                {% endif %}
            {% endif %}

        </div>
    </div>

{% endblock %}
