{% extends 'layout.html.twig' %}



{% block title %}Planeta: {{ planeta.nom }}{% endblock %}


{% block body %}
    <div class="row">
        <div class="well">
            <h1 class="text-center page-header">Planeta #{{planeta.id}}: {{planeta.nom}}</h1>

            <dl class="dl-horizontal text-center">
                <dt>Distància</dt>
                <dd>{{ planeta.distancia }}</dd>
                <dt>Període</dt>
                <dd>{{ planeta.periode }}</dd>
                <dt>Diàmetre</dt>
                <dd>{{ planeta.diametre }}</dd>
                <dt>Situació</dt>
                <dd>{{ planeta.situacio }}</dd>
                <dt>Tipus</dt>
                <dd>{{ planeta.tipus }}</dd>
                <dt>Superfície</dt>
                <dd>{{ planeta.superficie }}</dd>
                <dt>Satèl·lits</dt>
                {% for satelit in satelits %}
                    <dd><a href="{{ path('satelit_show', {'id': satelit.id}) }}">{{ satelit.nom }}</dd>
                {% else %}
                    <dd>Aquest planeta no té cap satèl·lit associat</dd>
                {% endfor %}
            </dl>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-block btn-info" href="{{ path('planeta_index') }}">Tornar a la llista</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-block btn-warning" href="{{ path('planeta_edit', { 'id': planeta.id }) }}">Editar</a>
        </div>
        <div class="col-md-4">
            {{ form_start(delete_form) }}
            <input class="btn btn-block btn-danger" type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </div>
    </div>

{% endblock %}
